<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
      <h2>Welcome to <%= @user.username %>'s page.</h2>
    <hr>
  </div>
  <div class="col-sm-offset-2 col-sm-8">
      <h3><%= @user.username %>'s Articles:</h3>
    <hr>
  </div>
</div>
<div class="center">
  <%= will_paginate @user_articles %>
</div>

<%= render 'articles/article', obj: @user_articles %>

<div class="center">
  <%= will_paginate @user_articles %>
</div>